.Box {

position:absolute;right:0;top:0;
 
width:500px; /* Ширина блока */
height: 230px; /* Высота блока */
background-color: #ffffff; /* Фоновый цвет*/
border: 2px solid #D4D4D4; /* Ширина и цвет границ*/
border-radius: 10px; /* Радиус границ*/
box-shadow: 0 0 15px #A9A9A9; /* Размер и цвет тени блока*/
 
}

.Canvas{
}

#slideout {
position: fixed;
top: 40px;
left: 0;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;
}

#slideout_inner {
position: fixed;
top: 40px;
left: -450px;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;
}

#slideout:hover {
left: 25px;
}

#slideout:hover #slideout_inner {
left: 0;
}

